img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.prev {
  left: 25%;
}
.next {
  right: 25%;
}
.carousel {
  display: flex;
  align-items: center;
  gap: 12px;
}

.viewport {
  width: 60%;
  height: 50%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  object-fit: fill;
}
